body {
    background-color: #789bcc;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    padding: 10px 10px 10px 10px;
    font-family: Trebuchet MS, Geneva, Arial, sans-serif;
}
h3 {
    color:dimgrey;
    border-bottom: 1px solid black;
    font-weight: normal;
}
.notice {
    color: darkslateblue;
    font-size: small;
    font-style: oblique;
}
div.plaything {
    margin-top: 100px;
    text-align: center;
}
img.plaything {
    cursor: pointer;
}
