body {
    background-color: #789bcc;
    margin-left: 20%;
    margin-right: 20%;
    border: thin dotted black;
    padding: 10px 10px 10px 10px;
    font-family: Trebuchet MS, Geneva, Arial, sans-serif;
}
h3 {
    color:dimgrey;
    border-bottom: 1px solid black;
    font-weight: normal;
}
#header {
    background-color: #6b8db5;
    padding: 15px;
    margin: 0px,10px,10px,10px;
    text-align: center;
}
#main {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#frecklesImg {
    cursor: pointer;
}
#footer {
    color: darkslateblue;
    font-size: x-small;
    font-style: oblique;
    text-align: center;
    padding: 15px;
    margin: 0px,10px,10px,10px;
    border-top: thin dotted grey;
    background-color: #6b8db5;
}
